body{
	background: url(images/ricepaper.png);
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}

h1, h2, h3 {
	margin: 0;
}

h1{
	background: url(images/title.png) no-repeat;
	margin: 20px 0 20px 0;
	padding: 15px;
	height: 100px;
	width: 800px;
	text-indent: -9000px;
}
h2{
	color: #fff;
	margin: 10px;
	font-weight: normal;
}
h3 {
	margin-bottom: 5px;
}

.container{
	width: 800px;
	margin: 0 auto;
}

#recipes {
	padding: 15px;
	background: #fff url(images/onion_rings.jpg) no-repeat;
	border: 10px solid #222;
}
article{
	margin: 250px 0 0 0;	
}

hgroup {
	color: #fff;
	margin: 0 0 40px 0;
}

table, tr, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table td {
	padding: 5px;
}